/* ========================================================================
   ANSI/DOS colors
   Source: Colors picked from DOSBox
   ======================================================================== */

:root {
    --black: #000000;
    --red: #aa0000;
    --green: #00aa00;
    --brown: #aa5500;
    --orange: #aa5500;
    --yellow: #aaaa00;
    --blue: #0000aa;
    --magenta: #aa00aa;
    --cyan: #00aaaa;
    --white: #aaaaaa;
    --bright-black: #555555;
    --bright-red: #ff5555;
    --bright-green: #55ff55;
    --bright-yellow: #ffff55;
    --bright-blue: #5555ff;
    --bright-magenta: #ff55ff;
    --bright-cyan: #55ffff;
    --bright-white: #ffffff;
}
