/* ========================================================================
   Import Fonts
   ======================================================================== */

@font-face {
    /* To correct aspect-ratio, add: transform: scaleX(0.75); width: 133.3333%; */
    /* Add this if not centered: transform-origin: left; */
    font-family: 'IBM VGA 80-col 9x16';
    src: url(../fonts/WebPlus_IBM_VGA_9x16.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected';
    src: url(../fonts/AcPlus_IBM_VGA_9x16.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* To correct aspect-ratio, add: transform: scaleX(0.75); width: 133.3333%;*/
    /* Add this if not centered: transform-origin: left; */
    font-family: 'IBM VGA 40-col 9x16';
    src: url(../fonts/WebPlus_IBM_VGA_9x16-2x.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM VGA 40-col 9x16 Aspect-Corrected';
    src: url(../fonts/AcPlus_IBM_VGA_9x16-2x.ttf);
    font-weight: normal;
    font-style: normal;
}
