button, input[type=button] {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected', 'IBM VGA 80-col 9x16', monospace;
    font-size: 2rem;
    line-height: 2rem;
    margin: 1rem 1ch 2rem 0;
    padding: 1rem 1ch 1rem 1ch;
    color: var(--black);
    background-color: var(--white);
    border-style: none;
    box-shadow: 1ch 1rem var(--bright-black);
    outline: none;
}

button:active, input[type=button]:active {
    transform: translate(1ch, 1rem);
    box-shadow: 0 0 var(--bright-white);
}

/* TODO: This needs work */
/*
select, option {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected', 'IBM VGA 80-col 9x16', monospace;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--black);
    background-color: var(--white);
    outline: none;
}

optgroup {
    background-color: var(--bright-black);
    color: var(--bright-blue);
}

option {
    line-height: 0;
}
*/

/*
TODO: Finish select/option dropdown box
TODO: Multi-Line select box
TODO: Radio Buttons
TODO: Checkboxes
TODO: Text Area
TODO: Text Input Box
TODO: Datalist
TODO: Fieldset
TODO: Legend
TODO: Meter
TODO: Progress
TODO: Input
TODO: Set CSS for disabled statuses
 */