/* ========================================================================
   Headings
   ======================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    /*font-weight: bold;*/
    margin: 2rem 0 2rem 0;
    color: var(--bright-white);
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
}

h2 {
    font-size: 3.6667rem;
    line-height: 3.6667rem;
}

h3 {
    font-size: 3.3333rem;
    line-height: 3.3333rem;
}

h4 {
    font-size: 3rem;
    line-height: 3rem;
}

h5 {
    font-size: 2.6667rem;
    line-height: 2.6667rem;
}

h6 {
    font-size: 2.3333rem;
    line-height: 2.3333rem;
}
