a, a:link, a:visited {
    color: var(--bright-blue);
}

a:hover {
    color: var(--black);
    background-color: var(--bright-blue);
}

a:active {
    color: var(--bright-white);
    background-color: var(--bright-blue);
}
