/* ========================================================================
   Ordered Lists
   ======================================================================== */

ol {
    margin-left: 4ch;
}

ol li {
    margin-left: 1ch;
}


/* ========================================================================
   Unordered Lists
   ======================================================================== */

ul {
    list-style: none;
    margin-left: 2ch;
}

ul li {
    margin-left: 2ch;
    text-indent: -2ch;
}

ul li::before {
    content: "\2022\0020";
}

ul li li::before {
    content: "\25CB\0020";
}

ul li li li::before {
    content: "\2666\0020";
}

/* ========================================================================
   Description Lists
   ======================================================================== */

dl {
    margin: 2rem 0 2rem 0;
}

dt {
    color: var(--bright-white)
}

dd {
    margin-left: 4ch;
    font-style: italic;
}