/* ========================================================================
   Other / Misc
   ======================================================================== */

hr {
    margin: calc(1rem - 1px) 0 calc(1rem - 1px) 0;
    border-width: 1px;
    border-style: solid;
}
