/* ========================================================================
   Set-up Page
   ======================================================================== */

html {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected', 'IBM VGA 80-col 9x16', monospace;
    /* font-size and line-height should be hard-coded to the number of pixels (height) of the font used. */
    font-size: 16px;
    line-height: 16px;
}

body {
    background-color: var(--black);
    color: var(--white);
    /* For modern screens, we need to double the font size for visibility. */
    font-size: 2rem;
    line-height: 2rem;
}
