/* ========================================================================
   The Great Reset
   ======================================================================== */

* {
    margin: 0;
    border: 0;
    padding: 0;
}
