/* Default table is no-borders */
caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr {
    border-style: none;
    vertical-align: bottom;
}

caption {
    color: var(--black);
    background-color: var(--white);
}

table {
    margin: 2rem 0 2rem 0;
}

td, th {
    padding-right: 1ch;
}

th {
    text-align: left;
    font-weight: normal;
    color: var(--bright-white);
}

thead th {
    text-align: center;
}

/**************************************************************************
 To have a table with borders, put class="withBorder" on the <table> element.
 **************************************************************************/
table.withBorder {
    margin: calc(1rem - 2px) calc(0.5ch - 2px) calc(1rem - 2px) calc(0.5ch - 2px);
    border-style: solid;
    border-width: 2px;
}

table.withBorder td, table.withBorder th  {
    padding: calc(1rem - 2px) calc(1.5ch - 2px) calc(1rem - 2px) calc(1.5ch - 2px);
    border-style: solid;
    border-width: 2px;
}

table.withBorder th {
    border-color: var(--white);
}