blockquote {
    margin: 2rem 4ch 2rem 4ch;
    font-style: italic;
}

code {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected', 'IBM VGA 80-col 9x16', monospace;
    color: var(--bright-white);
}

kbd {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected', 'IBM VGA 80-col 9x16', monospace;
    color: var(--bright-black);
    background-color: var(--white);
}

mark {
    color: var(--black);
    background-color: var(--yellow);
}

pre {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected', 'IBM VGA 80-col 9x16', monospace;
    color: var(--bright-white);
    margin: 2rem 0 2rem 0;
}

q {
    font-style: italic;
}

samp {
    font-family: 'IBM VGA 80-col 9x16 Aspect-Corrected', 'IBM VGA 80-col 9x16', monospace;
    color: var(--bright-white);
}

sub, sup {
    font-size: 2rem;
    line-height: 3rem;
}
