<p>Begin Definition Lists</p>
<dl>
    <dt>Chocolate Chip Cookies</dt>
    <dd>The most common of the cookie family, these round delights are made with your basic sugary ingredients with chocolate chips stirred in.</dd>

    <dt>Snickerdoodle Cookies</dt>
    <dd>My favorite cookie as long as it is not baked too long and dried out.</dd>
    <dd>A cookie with the interesting ingredient of cream-of-tarter.</dd>
    <dd>The cookie with the best name.</dd>

    <dt>Chocolate Chocolate Chip Cookies</dt>
    <dt>Double Chocolate Chocolate Chip Cookies</dt>
    <dd>If a regular chocolate chip cookie is just not enough chocolate for you, these variations will send you in to a chocolate coma in no time.</dd>

    <dt>Monster Cookies</dt>
    <dt>M&amp;M Cookies</dt>
    <dd>A cookie which can include a mix of candies.</dd>
    <dd>The typical cookie has M&amp;Ms and chocolate chips.</dd>
    <dd>You could also mix in nuts as long as no one is allergic to them.</dd>
</dl>
<p>End Definition Lists</p>