<p>Begin Button</p>
<p>Regular Buttons:
    <button type="button">Submit</button>
    <button type="button">Cancel</button>
    <button type="button">Help</button>
</p>
<p>Input Type=Button:
    <input type="button" value="Launch">
    <input type="button" value="Abort">
    <input type="button" value="Call Mom">
</p>
<p>End Button</p>

<hr>
<p>Begin Select</p>
<label for="food-select">Choose a Food:
    <select name="food" id="food-select">
        <optgroup label="Fruits">
            <option value="apple">Apple</option>
            <option value="banana">Banana</option>
            <option value="grapes">Grapes</option>
            <option value="orange">Orange</option>
            <option value="strawberries">Strawberries</option>
        </optgroup>
        <optgroup label="Meat">
            <option value="beef">Beef</option>
            <option value="chicken">Chicken</option>
            <option value="lamb">Lamb</option>
            <option value="ostrich">Ostrich</option>
            <option value="pork">Pork</option>
        </optgroup>
        <optgroup label="Vegetables">
            <option value="carrots">Carrots</option>
            <option value="green_beans">Green Beans</option>
            <option value="lettuce">Lettuce</option>
            <option value="peas">Peas</option>
            <option value="potatoes">Potatoes</option>
            <option value="tomatoes">Tomatoes</option>
        </optgroup>
        <option value="cake">Cake</option>
        <option value="cookies">Cookies</option>
        <option value="ice_cream">Ice Cream</option>
        <option value="sucker">Lollipop</option>
    </select>
</label>
<p>End Select</p>

<hr>