<p>Begin Single Image</p>
<img width="200" height="200" src="https://publicdomainvectors.org/photos/Gerald_G_Simple_Fruit_(FF_Menu)_4.png" alt="Clip art of an orange">
<p>End Single Image</p>
<hr>

<p>Begin Figure With No Caption</p>
<figure>
    <img width="200" height="200" src="https://publicdomainvectors.org/photos/Gerald_G_Simple_Fruit_(FF_Menu)_4.png" alt="Clip art of an orange">
</figure>
<p>End Figure With No Caption</p>
<hr>

<p>Begin Figure With Caption</p>
<figure>
    <img width="200" height="200" src="https://publicdomainvectors.org/photos/Gerald_G_Simple_Fruit_(FF_Menu)_4.png" alt="Clip art of an orange">
    <figcaption>Clip Art of an Orange</figcaption>
</figure>
<p>End Figure With Caption</p>
