<p>Begin Table</p>
<table>
    <caption>Some Monopoly Title Deeds</caption>
    <thead>
        <tr>
            <th>Description</th>
            <th>Mediterranean Avenue</th>
            <th>Baltic Avenue</th>
            <th>St. Charles Place</th>
            <th>States Avenue</th>
            <th>Virginia Avenue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Color</th>
            <td colspan="2">Dark Purple</td>
            <td colspan="3">Purple</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>$60</td>
            <td>$60</td>
            <td>$140</td>
            <td>$140</td>
            <td>$160</td>
        </tr>
        <tr>
            <th>Mortgage Value</th>
            <td>$30</td>
            <td>$30</td>
            <td>$70</td>
            <td>$70</td>
            <td>$80</td>
        </tr>
        <tr>
            <th>Building Costs</th>
            <td>$50</td>
            <td>$50</td>
            <td>$100</td>
            <td>$100</td>
            <td>$100</td>
        </tr>
        <tr>
            <th>Rent</th>
            <td>$2</td>
            <td>$4</td>
            <td>$10</td>
            <td>$10</td>
            <td>$12</td>
        </tr>
        <tr>
            <th>Rent 1 House</th>
            <td>$10</td>
            <td>$20</td>
            <td>$50</td>
            <td>$50</td>
            <td>$60</td>
        </tr>
        <tr>
            <th>Rent 2 Houses</th>
            <td>$30</td>
            <td>$60</td>
            <td>$150</td>
            <td>$150</td>
            <td>$180</td>
        </tr>
        <tr>
            <th>Rent 3 Houses</th>
            <td>$90</td>
            <td>$180</td>
            <td>$450</td>
            <td>$450</td>
            <td>$500</td>
        </tr>
        <tr>
            <th>Rent 4 Houses</th>
            <td>$160</td>
            <td>$320</td>
            <td>$625</td>
            <td>$625</td>
            <td>$700</td>
        </tr>
        <tr>
            <th>Rent Hotel</th>
            <td>$250</td>
            <td>$450</td>
            <td>$750</td>
            <td>$750</td>
            <td>$900</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>TOTAL COST TO HOTEL</th>
            <td>$310</td>
            <td>$310</td>
            <td>$640</td>
            <td>$640</td>
            <td>$660</td>
        </tr>
    </tfoot>
</table>
<p>End Table</p>
<hr>

<p>Begin Table with Border</p>
<table class="withBorder">
    <caption>Some Monopoly Title Deeds</caption>
    <thead>
        <tr>
            <th>Description</th>
            <th>Mediterranean Avenue</th>
            <th>Baltic Avenue</th>
            <th>St. Charles Place</th>
            <th>States Avenue</th>
            <th>Virginia Avenue</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Color</th>
            <td colspan="2">Dark Purple</td>
            <td colspan="3">Purple</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>$60</td>
            <td>$60</td>
            <td>$140</td>
            <td>$140</td>
            <td>$160</td>
        </tr>
        <tr>
            <th>Mortgage Value</th>
            <td>$30</td>
            <td>$30</td>
            <td>$70</td>
            <td>$70</td>
            <td>$80</td>
        </tr>
        <tr>
            <th>Building Costs</th>
            <td>$50</td>
            <td>$50</td>
            <td>$100</td>
            <td>$100</td>
            <td>$100</td>
        </tr>
        <tr>
            <th>Rent</th>
            <td>$2</td>
            <td>$4</td>
            <td>$10</td>
            <td>$10</td>
            <td>$12</td>
        </tr>
        <tr>
            <th>Rent 1 House</th>
            <td>$10</td>
            <td>$20</td>
            <td>$50</td>
            <td>$50</td>
            <td>$60</td>
        </tr>
        <tr>
            <th>Rent 2 Houses</th>
            <td>$30</td>
            <td>$60</td>
            <td>$150</td>
            <td>$150</td>
            <td>$180</td>
        </tr>
        <tr>
            <th>Rent 3 Houses</th>
            <td>$90</td>
            <td>$180</td>
            <td>$450</td>
            <td>$450</td>
            <td>$500</td>
        </tr>
        <tr>
            <th>Rent 4 Houses</th>
            <td>$160</td>
            <td>$320</td>
            <td>$625</td>
            <td>$625</td>
            <td>$700</td>
        </tr>
        <tr>
            <th>Rent Hotel</th>
            <td>$250</td>
            <td>$450</td>
            <td>$750</td>
            <td>$750</td>
            <td>$900</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>TOTAL COST TO HOTEL</th>
            <td>$310</td>
            <td>$310</td>
            <td>$640</td>
            <td>$640</td>
            <td>$660</td>
        </tr>
    </tfoot>
</table>
<p>End Table with Border</p>
<hr>

