<p>Begin paragraph text</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et aliquet orci. Mauris nec rutrum quam, in aliquet mauris. Mauris a volutpat tellus. Pellentesque ac purus aliquam, blandit erat sodales, bibendum libero. Ut dapibus, sem eu elementum eleifend, ligula ligula ullamcorper nisl, sed hendrerit nunc leo non tortor. Phasellus consequat lectus nibh, nec feugiat nulla semper eu. Etiam vestibulum interdum augue sed ultrices. Ut varius tellus ante, non dictum magna dictum vitae. Vivamus feugiat convallis nibh. Curabitur ac leo nibh.</p>
<p>End paragraph text</p>
<hr>

<p>Begin word decorations</p>
<p>Abbreviation: The letters <abbr>abbr</abbr> are an abbreviation.</p>
<p>Bold: This is a <b>bold</b> word.</p>
<p>Citation: The author of that quote was <cite>Douglas Adams</cite>.</p>
<p>Code: The function <code>time()</code> will return the current time.</p>
<p>Data: The user entered <data value="1">Starbucks Mocha</data> as their favorite drink.</p>
<p>Definition: A <dfn>panda</dfn> is a black and white teddy bear from China.</p>
<p>Deleted: Three <del>penalties</del> strikes and you're out.</p>
<p>Emphasis: This is an <em>emphasized</em> word.</p>
<p>Inserted: I forgot to <ins>insert</ins> that word.</p>
<p>Italics: This is an <i>italicised</i> word.</p>
<p>Keyboard Input: Pressing <kbd>CTRL</kbd> + <kbd>ALT</kbd> + <kbd>INS</kbd> puts you in the PCjr keyboard tests.</p>
<p>Mark: This text <mark>is highlighted/marked</mark> for you.</p>
<p>Quote: Quoth the Raven, <q>Nevermore!</q></p>
<p>Strikethrough: Three <s>strikes</s> penalties and you're out.</p>
<p>Sample: The output will end with: "<samp>Press F1 to continue...</samp>"</p>
<p>Small: Legal text <small>is written small so you will ignore it.</small></p>
<p>Strong: This is a <strong>strong</strong> word.</p>
<p>Subscript: The chemical formula for caffeine is C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub> .</p>
<p>Superscript: The Pythagorean theorem is a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup> .</p>
<p>Time: The appointment is at <time>13:30</time> .</p>
<p>Underline: This is an <u>underlined</u> word.</p>
<p>Variable: In your program, the volume is calculated as <var>width</var> x <var>height</var> x <var>depth</var> .</p>
<p>End word decorations</p>
<hr>

<p>Begin pre-formatted text</p>
<pre>
 O     O     O
\|/   _|_   _|_
 |     |     |
/ \   / \   _|_
</pre>
<p>End pre-formatted text</p>
<hr>

<p>Begin blockquote text</p>
<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et aliquet orci. Mauris nec rutrum quam, in aliquet mauris. Mauris a volutpat tellus. Pellentesque ac purus aliquam, blandit erat sodales, bibendum libero. Ut dapibus, sem eu elementum eleifend, ligula ligula ullamcorper nisl, sed hendrerit nunc leo non tortor. Phasellus consequat lectus nibh, nec feugiat nulla semper eu. Etiam vestibulum interdum augue sed ultrices. Ut varius tellus ante, non dictum magna dictum vitae. Vivamus feugiat convallis nibh. Curabitur ac leo nibh.</blockquote>
<p>End blockquote text</p>
